

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
body {font-family: 'Muli', sans-serif;}
a:hover, a:focus {opacity: 0.5;}
a:focus {text-decoration: underline;}
.btn {
  border-radius: 50em;
}
.style {
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
  padding: 1.4em 1.6em;
  margin-bottom: 2em;
  color: #fff;
  font-weight: bold;
  font-size: 1.3rem;
  letter-spacing: 1px;
  text-transform: uppercase;
  background: #283040;
}
.btn:hover {
  background: #323c50;
}
.jumbotron {}
